:root {
  .textBox {
    display: flex;
    flex-direction: column;

    div {
      padding: 0 var(--space-smaller);
    }

    .title {
      width: 100%;
      font-weight: bold;
      border-bottom: 1px solid var(--secondary);
      box-sizing: border-box;
    }
    .text {
      display: block;
      font-weight: normal;
      hyphens: auto;

      text-align: justify;
    }
  }
}
