:root {
  .contact {
    position: relative;
    height: auto;

    .textBox-wrapper {
      width: 360px;
      margin: var(--space) 0;
    }

    .content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-wrapper,
      .right-wrapper {
        width: 360px;
      }

      .right-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--space-big);

        .socials,
        .directContact {
          font-size: 18px;

          .socials-icons {
            display: flex;
            align-items: center;
            font-size: 24px;
            gap: var(--space);
          }
          .contact-info {
            display: flex;
            flex-direction: column;
            gap: var(--space);

            .mail-wrapper,
            .tel-wrapper {
              display: flex;
              align-items: center;
              a {
                color: inherit;
                text-decoration: none;
              }
              svg {
                margin-right: var(--space-small);
              }
            }
          }
        }
      }
    }

    .image-wrapper {
      position: absolute;
      top: 15%;
      right: -10%;
      width: 160px;
      height: auto;

      img {
        width: 100%;
      }
    }
  }
}
