/* Book */

.book-wrapper {
  right: 0;
  .book {
    position: relative;
    width: 50%;
    height: 650px;
    transition: transform 0.5s;

    &.open {
      transform: translateX(100%);
    }

    &.closed .beginning {
      transform: translateX(0%);
    }

    &.closed {
      transform: translateX(100%);
    }
  }

  .paper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    perspective: 1500px;

    .front {
      backface-visibility: hidden;
      border-left: 3px solid var(--secondary);
    }

    .front,
    .back {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: var(--accent);
      transition: transform 0.5s;
      transform-origin: left;
      padding: var(--space);

      .workContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .front {
      z-index: 1;
      padding-left: 0;
    }

    .back {
      z-index: 0;

    }

    .front-content,
    .back-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      iframe{
        height: 100%;
        overflow-y: hidden;

      }
    }

    .back-content {
      transform: rotateY(180deg);
    }

    /* Paper Flipped */
    &.flipped {
      .front,
      .back {
        transform: rotateY(-180deg);
      }
    }
  }

  /* Paper Z-index */
  .p {
    z-index: 0;
    // &:not(:last-child) {
    //   z-index: 1;
    // }

    // &.flipped {
    //   z-index: 0;
    //   &:not(:last-child) {
    //     z-index: 1;
    //   }
    // }
  }

  /* Customization */



  .book-title {
    margin-bottom: 40px;
    font-size: 3em;
  }

  .cover-img {
    width: 200px;
    height: 270px;
    border-radius: 30px;
    object-fit: cover;
  }

  .b1 {
    justify-content: space-around;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;

    h2 {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 2em;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .leftRight-buttons-wrapper{

  }
}
