.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: var(--space-smaller);
  border: 1px solid var(--secondary);
  border-radius: 0;
  color: var(--secondary);
  background-color: var(--accent);
  box-sizing: border-box;
  gap: var(--space-big);

  div {
    display: flex;
    justify-content: center;
    svg {
      font-size: 18px;
    }
  }

  .text {
  display: none;
  }
  &:hover .text {
    display: inline;
  }
}
