@import './../../common/styles/_breakpoints';


:root {
  .about {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    position: relative;
    width: 100%;
    gap: var(--space-huge);

    .left-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 360px;
      height: 100%;
      gap: var(--space-biggest);
      .portrait {
        max-width: 100%;
        height: 350px;
        border: 2px solid var(--secondary);
        background-color: #e2e2e2;
        background-image: url(./../../assets/portrait.png);
        background-position: 50% 50%;
        background-size: cover;

        @media screen and (max-width: 510px) {
          height: 200px
       }
      }
    }

    .right-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 360px;

      height: 100%;
      gap: var(--space-biggest);

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        // margin: auto;
        width: 100%;

            .overlap-group {
              position: relative;
              width: 100%;
              height: 120px;

              .text-wrapper {
                position: absolute;
                top: 0;
                left: 46px;
                width: 208px;
                color: var(--black);
                font-size: 15px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0;
              }

              .text-wrapper-2 {
                position: absolute;
                top: 27px;
                left: 99px;
                width: 208px;
                color: var(--black);
                font-size: 36px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0;
              }

              .text-wrapper-3 {
                position: absolute;
                top: 65px;
                left: 185px;
                width: 208px;
                color: var(--black);
                font-size: 15px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0;
              }

              .text-wrapper-4 {
                position: absolute;
                top: 80px;
                left: 0;
                color: var(--black);
                font-size: 40px;
                font-weight: bold;
                line-height: normal;
                letter-spacing: 0;
                white-space: nowrap;
              }
            }

        @include phone {
          .overlap-group{
            .text-wrapper {
              font-size: 2vw ;
              left: 20%;
              top: 0%;
            }
            .text-wrapper-2 {
              font-size: 4.8vw ;
              left: 25%;
              top: 20%;
            }
            .text-wrapper-3 {
              font-size: 3vw ;
              left: 15%;
              top: 60%
            }

            .text-wrapper-4 {
              font-size: 4vw ;
              left: 0%;
              top: 85%
            }
          }
        }
        @media screen and (max-width: 510px) {
          height: 200px;
          overflow-x: hidden;
          .overlap-group{
            .text-wrapper {
              font-size: 3vw ;
              left: 20%;
              top: 0%;
            }
            .text-wrapper-2 {
              font-size: 6vw ;
              left: 20%;
              top: 20%;
            }
            .text-wrapper-3 {
              font-size: 3.8vw ;
              left: 10%;
              top: 60%
            }

            .text-wrapper-4 {
              font-size: 3.5vw ;
              left: 0%;
              top: 85%
            }
          }
        }

      }


      .whatDrivesMe-wrapper {
        .dieText {
          margin-bottom: 5px;
          text-align: center;
        }
      }
      .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;

        img {
          width: 40%;
          min-width: 80px;
        }
      }
    }
  }
}
