:root {


.btn-open {
  // padding: 10px 20px;
  // display: block;
  // margin: 100px auto 0;
  // font-size: 18px;

  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  text-align: left;
  color: #646cff;
}}
