:root
{
  .footer {
    align-items: center;
    border-color: var(--secondary);
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    justify-content: space-between;
    padding: var(--space-small) var(--space-smaller);
    position: relative;
    width: 100%;

    p {
      font-weight: normal;
    }






}
}
