@import './common/styles/breakpoints';


:root {
  .app {
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    margin-top: 5vh;
    overflow-x: hidden;

    .section-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 768px;
      margin: var(--space-biggest) auto;
      gap: var(--space-biggest);
    }
    .background{
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--primary);
      height: 100%;
      width: 100vw;
      z-index: -1;
      opacity: 0.6;
      background-repeat: round;
    }
    @include phone {
      .section-wrapper{
        margin: var(--space-biggest) 0;
      }
    }

}
}
