:root {

  .section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 872px;
    margin: var(--space-biggest) auto;
    gap: var(--space-biggest);
  }
}
