@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,300;6..72,400;6..72,500;6..72,600;6..72,700;6..72,800&display=swap");

body {
  display: flex;
  justify-content: center;
  width: 90vw;
  min-width: 320px;
  height: 95vh;
  margin: auto;
  margin-top: 5vh;
}

#root {
  width: 100%;
}
:root {
  --space-smallest: 2px;
  --space-smaller: 4px;
  --space-small: 8px;
  --space: 12px;
  --space-big: 16px;
  --space-bigger: 20px;
  --space-biggest: 24px;

  --primary: #f5f2e8;
  --secondary: #000;
  --accent: #fff;

  color: var(--secondary);
  background-color: var(--primary);
  font-family: "Newsreader", serif;
  font-weight: bold;
  line-height: 1.5;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #1a1a1a;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  transition: border-color 0.25s;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
